name: Test & Release Module

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release-tf-module:
    uses: AnriB/templates/.github/workflows/tf-module-tag-template.yml@main